<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户表</title>
</head>

<!--<script>
    console.log(111)
    /*var lists = '${lists}';
    console.log(lists);*/
</script>-->
<body>
<table border="1">
    <tr>
        <td>编号</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>用户性</td>
        <td>密码</td>
    </tr>
    <!--  <#list cityList! as city>
      <tr>
          <td>${city.cityName!}</td>
          <td>${city.provinceId!}</td>
          <td>${city.description!}<br></td>
      </tr>
  </#list>-->
</table>

</body>
</html>