<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>篮球首页</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>

<body>
<div class="father">
    <div class="son1">
        <div><img src="../static/images/1.jpeg"></div>
        <div>篮球大部落</div>
        <div><img src="../static/images/21.jpg"></div>
    </div>
    <div class="son2">
        <div>专区首页</div>
        <div>新闻公告</div>
        <div>直播视屏</div>
        <div>球迷论坛</div>
        <div>客服中心</div>
    </div>
    <div class="son3">
        <div class="son3_1 idx">
            <div class="son3_1_1">
                <div><img src="../static/images/6.jpg"></div>
                <span>今日头条</span>
            </div>
            <div class="son3_1_2">
                <ul>
                    <li>飞侠三分神奇绝杀</li>
                    <li>阿联嘴缝50针</li>
                    <li>哈林篮球中国巡演</li>
                    <li>韦德34分热火焚国王</li>
                    <li>艾佛森每训练必到</li>
                    <li>更多>></li>
                </ul>
            </div>
        </div>
        <div class="son3_2 idx"><img src="../static/images/666.jpg"></div>
        <div class="son3_3 idx">
            <button class="son3_3_1" onclick="addNewProduct()">直播 LIVE</button>
            <button class="son3_3_2 idx1">部落在线</button>
            <button class="son3_3_3 idx1">TOM直播</button>
            <button class="son3_3_4 idx1">迅雷看看</button>
            <button class="son3_3_5 idx1">PPS直播</button>
            <button class="son3_3_6 idx1">CCTV5</button>
            <button class="son3_3_7 idx1">虎扑体育</button>
            <button class="son3_3_8 idx1">劲爆体育</button>

        </div>
    </div>
    <div class="geqiang"></div>
    <div class="son4">
        <div class="son4_1 idx">
            <div class="son4_1_1"><img src="../static/images/6.jpg"><img src="../static/images/8.jpg"></div>
            <div class="son4_1_2"><img src="../static/images/9.jpg"></div>
        </div>
        <div class="son4_2 idx">
            <div class="son4_2_1">
                <button>比赛</button>
                <button>策划</button>
                <button>花絮</button>
                <button>壁纸</button>
                <button>更多>></button>
            </div>
            <div class="son4_2_2"><img src="../static/images/6.jpg"></div>
            <div class="son4_2_3">
                <span>篮网客场挑战尼克斯，哈里斯突破踏步流星</span>
                <div class="a">
                    <div class="son4_2_3_1"><img src="../static/images/11.jpg"></div>
                    <div class="son4_2_3_2 idx2"><img src="../static/images/12.jpg"></div>
                    <div class="son4_2_3_3 idx2"><img src="../static/images/13.jpg"></div>
                    <div class="son4_2_3_4 idx2"><img src="../static/images/14.jpg"></div>
                    <div class="son4_2_3_5 idx2"><img src="../static/images/15.jpg"></div>
                    <div class="son4_2_3_7 idx2"><img src="../static/images/16.jpg"></div>
                    <div class="son4_2_3_6"><img src="../static/images/17.jpg"></div>
                </div>
            </div>
        </div>
        <div class="son4_3 idx">
            <div class="son4_3_1"><img src="../static/images/18.jpg"></div>
            <div class="son4_3_2">
                <button>详情</button>
                <button>投票</button>
            </div>
            <div class="son4_3_3"><img src="../static/images/19.jpg"></div>
        </div>
    </div>
    <footer>凌晨四点的洛杉矶</footer>
</div>
</body>
<script type="text/xhtml"></script>
<script src="index.js">


</script>

</html>