<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<script src="../static/js/jquery.js" type="application/html"></script>
<script type="application/javascript">
    /*console.log(111);
    $(function () {
        $("#submit").click(function () {
            var formdata = $('#form').seralize(); //表单序列化
            $.ajax({
                type: 'post',
                url: 'http://localhost:8888/user/save',
                data: formdata,
                dataType: 'json',
                traditional: true,
                contentType: 'application/json',
                success: function (data) {
                },
            });
        })
    })*/

</script>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    .out {
        margin-left: 100px;
        padding-top: 100px;
    }
</style>

<body>
<h1>
    <div class="out">
        <form id="form" action="/lsp/user/save" method="post" >
            编号:<input type="text" name="id" value="${user.id}"/>
            <hr>
            姓名:<input type="text" name="name" value="${user.name}"/>
            <hr>
            年龄:<input type="text" name="age" value="${user.age}"/>
            <hr>
            电话:<input type="text" name="phoneNum" value="${user.phoneNum}"/>
            <hr>
            用户名:<input type="text" name="userName" value="${user.userName}"/>
            <hr>
            密码:<input type="password" name="passWord" value="${user.passWord}"/>
            <hr>
           <!-- <input type="submit" value="提交" id="submit">-->
        </form>
        <button id="submit">提交表单</button>
    </div>
</h1>


</body>
</html>